.photos {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
    min-height: 108px;
  }

  &__loader {
    width: 16px;
    height: 16px;
  }
}
