@use '@/_variables.scss';

$color-medium-gray: #999999;
$color-primary-hover: #6d4aff;
$color-primary-active: #6244e6;
$color-filled-bg-hover: #626262;
$color-filled-bg-active: #767676;
$box-shadow-filled: 0px 3px 8px 0px #0000001F;

.button {
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;

  &--filled,
  &--outlined {
    min-width: 148px;
    height: 40px;
    padding: 10px 12px;
  }

  &--outlined,
  &--fluttened {
    background-color: variables.$white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: variables.$dark-gray;

    &:hover {
      color: $color-primary-hover;
      border-color: $color-medium-gray;

      .button__icon {
        color: $color-primary-hover;
      }
    }

    &:active {
      color: $color-primary-active;
      border-color: $color-primary-active;

      .button__icon {
        color: $color-primary-active;
      }
    }

    .button__icon {
      color: variables.$dark-gray;
    }
  }

  &--filled {
    background-color: variables.$dark-gray;
    color: variables.$white;
    box-shadow: $box-shadow-filled;

    &:hover {
      background-color: $color-filled-bg-hover;
    }

    &:active {
      background-color: $color-filled-bg-active;
    }

    .button__text_container__text {
      color: rgba(255, 255, 255, 0.95);
    }
  }

  &--fluttened {
    min-width: 73px;
    width: auto;
    height: 28px;
    padding: 4px 12px 4px 8px;
  }

  &__text_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      font-size: 13px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0.4px;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
